body
{
	background: #fff;
	color: #3a3a3a;
	font: 11px arial;
	margin: 0px;
	padding: 0px;
}
a:link, body_alink
{
	color: #f76300;
	text-decoration: none;
}
a:visited, body_avisited
{
	color: #f76300;
	text-decoration: none;
}
a:hover, a:active, body_ahover
{
	color: #f76300;
	text-decoration: underline;
}
.page
{
	background: #fff url(../../images/orangetheme/misc/pagebg.gif) repeat-x top left;
	color: #3a3a3a;
}
td, th, p, li
{
	font: 11px arial;
}
.tborder
{
	background: #D1D1E1;
	color: #000000;
	border-bottom: #b4b4b4 1px solid;
	border-right: #dadada 1px solid;
}
.tcat
{
	background: #000 url(../../images/orangetheme/gradients/gradient_tcat.gif) repeat-x top left;
	color: #FFFFFF;
	font: 12px arial;
}
.tcat a:link, .tcat_alink
{
	color: #ffffff;
	text-decoration: none;
}
.tcat a:visited, .tcat_avisited
{
	color: #ffffff;
	text-decoration: none;
}
.tcat a:hover, .tcat a:active, .tcat_ahover
{
	color: #fff;
	text-decoration: underline;
}
.thead
{
	background: #2e2e2e url(../../images/orangetheme/gradients/gradient_thead.gif) repeat-x bottom left;
	color: #838383;
	font: 11px arial;
	border-left: #3f3f3f 1px solid;
	border-top: #3f3f3f 1px solid;
}
.thead a:link, .thead_alink
{
	color: #838383;
	text-decoration: none;
}
.thead a:visited, .thead_avisited
{
	color: #838383;
	text-decoration: none;
}
.thead a:hover, .thead a:active, .thead_ahover
{
	color: #838383;
}
.tfoot
{
	background: #494949;
	color: #fff;
}
.tfoot a:link, .tfoot_alink
{
	color: #fff;
}
.tfoot a:visited, .tfoot_avisited
{
	color: #fff;
}
.tfoot a:hover, .tfoot a:active, .tfoot_ahover
{
	color: #fff;
}
.alt1, .alt1Active
{
	background: #fdfdfd url(../../images/orangetheme/misc/alt.gif) repeat-x bottom left;
	color: #3a3a3a;
	border-left: #dadada 1px solid;
	border-top: #bcbcbc 1px solid;
}
.alt1 a:link, .alt1_alink, .alt1Active a:link, .alt1Active_alink
{
	color: #f76300;
	text-decoration: none;
}
.alt1 a:visited, .alt1_avisited, .alt1Active a:visited, .alt1Active_avisited
{
	color: #f76300;
	text-decoration: none;
}
.alt1 a:hover, .alt1 a:active, .alt1_ahover, .alt1Active a:hover, .alt1Active a:active, .alt1Active_ahover
{
	color: #f76300;
	text-decoration: none;
}
.alt2, .alt2Active
{
	background: #fdfdfd url(../../images/orangetheme/misc/alt.gif) repeat-x bottom left;
	color: #3a3a3a;
	border-left: #dadada 1px solid;
	border-top: #bcbcbc 1px solid;
}
.alt2 a:link, .alt2_alink, .alt2Active a:link, .alt2Active_alink
{
	color: #5e5e5e;
}
.alt2 a:visited, .alt2_avisited, .alt2Active a:visited, .alt2Active_avisited
{
	color: #5e5e5e;
}
.alt2 a:hover, .alt2 a:active, .alt2_ahover, .alt2Active a:hover, .alt2Active a:active, .alt2Active_ahover
{
	color: #5e5e5e;
}
.inlinemod
{
	background: #FFFFCC;
	color: #000000;
}
.wysiwyg
{
	background: #F5F5FF;
	color: #000000;
	font: 11px arial;
	margin: 5px 10px 10px 10px;
	padding: 0px;
}
.wysiwyg a:link, .wysiwyg_alink
{
	color: #22229C;
}
.wysiwyg a:visited, .wysiwyg_avisited
{
	color: #22229C;
}
.wysiwyg a:hover, .wysiwyg a:active, .wysiwyg_ahover
{
	color: #FF4400;
}
textarea, .bginput
{
	font: 11px arial;
}
.bginput option, .bginput optgroup
{
	font-size: 11px;
	font-family: arial;
}
.button
{
	font: 11px arial;
}
select
{
	font: 11px arial;
}
option, optgroup
{
	font-size: 11px;
	font-family: arial;
}
.smallfont
{
	font: 11px arial;
}
.navbar
{
	font: 11px arial;
}
.highlight
{
	color: #FF0000;
	font-weight: bold;
}
.fjsel
{
	background: #3E5C92;
	color: #E0E0F6;
}
.fjdpth0
{
	background: #F7F7F7;
	color: #000000;
}
.panel
{
	color: #3a3a3a;
	padding: 10px;
}
.panelsurround
{
	background: #fdfdfd url(../../images/orangetheme/misc/alt.gif) repeat-x bottom left;
	color: #3a3a3a;
	border-left: #dadada 1px solid;
	border-top: #bcbcbc 1px solid;
}
legend
{
	color: #22229C;
	font: 11px tahoma, verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
}
.vbmenu_control
{
	background: #000 url(../../images/orangetheme/gradients/gradient_tcat.gif) repeat-x top left;
	color: #FFFFFF;
	font: 11px arial;
	padding: 3px 6px 3px 6px;
	white-space: nowrap;
}
.vbmenu_control a:link, .vbmenu_control_alink
{
	color: #FFFFFF;
	text-decoration: none;
}
.vbmenu_control a:visited, .vbmenu_control_avisited
{
	color: #FFFFFF;
	text-decoration: none;
}
.vbmenu_control a:hover, .vbmenu_control a:active, .vbmenu_control_ahover
{
	color: #FFFFFF;
	text-decoration: underline;
}
.vbmenu_popup
{
	background: #FFFFFF;
	color: #000000;
	border: 1px solid #0B198C;
}
.vbmenu_option
{
	background: #fdfdfd;
	color: #3a3a3a;
	font: 11px arial;
	white-space: nowrap;
	cursor: pointer;
}
.vbmenu_option a:link, .vbmenu_option_alink
{
	color: #3a3a3a;
	text-decoration: none;
}
.vbmenu_option a:visited, .vbmenu_option_avisited
{
	color: #3a3a3a;
	text-decoration: none;
}
.vbmenu_option a:hover, .vbmenu_option a:active, .vbmenu_option_ahover
{
	text-decoration: none;
}
.vbmenu_hilite
{
	background: #DB6C00;
	color: #FFFFFF;
	font: 11px arial;
	white-space: nowrap;
	cursor: pointer;
}
.vbmenu_hilite a:link, .vbmenu_hilite_alink
{
	color: #FFFFFF;
	text-decoration: none;
}
.vbmenu_hilite a:visited, .vbmenu_hilite_avisited
{
	color: #FFFFFF;
	text-decoration: none;
}
.vbmenu_hilite a:hover, .vbmenu_hilite a:active, .vbmenu_hilite_ahover
{
	color: #FFFFFF;
	text-decoration: none;
}
/* ***** styling for 'big' usernames on postbit etc. ***** */
.bigusername { font-size: 14pt; }

/* ***** small padding on 'thead' elements ***** */
td.thead, th.thead, div.thead { padding: 4px; }

/* ***** basic styles for multi-page nav elements */
.pagenav a { text-decoration: none; }
.pagenav td { padding: 2px 4px 2px 4px; }

/* ***** de-empohasized text */
.shade, a.shade:link, a.shade:visited { color: #777777; text-decoration: none; }
a.shade:active, a.shade:hover { color: #FF4400; text-decoration: underline; }
.tcat .shade, .thead .shade, .tfoot .shade { color: #DDDDDD; }

/* ***** define margin and font-size for elements inside panels ***** */
.fieldset { margin-bottom: 6px; }
.fieldset, .fieldset td, .fieldset p, .fieldset li { font-size: 11px; }
img {
border: 0;
}

/* Header CSS */
.header {
height: 99px;
}

.header_left {
float:left;
background: url(../../images/orangetheme/misc/headerbg.gif) no-repeat top right;
height: 74px;
width: 351px;
padding-left: 94px;
padding-top: 25px;
}

.header_right {
float:right;
padding-top: 21px;
height: 78px;
padding-right: 10px;
}

/* Nav CSS */
.nav {
height: 37px;
background: url(../../images/orangetheme/misc/navbg.gif) repeat-x;
padding-left: 10px;
}

.navright {
float:right;
margin-top: 4px;
background: url(../../images/orangetheme/misc/navright.gif) no-repeat;
height: 33px;
line-height: 33px;
width: 203px;
padding-left: 23px;
margin-right: 10px;
}
.navBackTop {
float:right;
background:url(../../images/orangetheme/misc/backTop.gif) no-repeat;
margin:4px 10px 0 0;
width:94px;
height: 33px;
line-height: 33px;
padding-left:12px;
text-align:center;
}
.navright a:link, .navright a:hover, .navright a:active, .navright a:visited,
.navBackTop a:link, .navBackTop a:hover, .navBackTop a:active, .navBackTop a:visited {
color: #ffffff;
text-decoration: none;
font-size: 12px;
font-family: arial;
}

.navleft {
float:left;
}

.navitem {
height: 37px;
}

.quicksearch p {
width: 254px;
height: 9px;
line-height: 9px;
background: url(../../images/orangetheme/misc/quicksearchbg.gif) no-repeat top right;
padding: 0px;
margin: 0px;
margin-bottom: 4px;
padding-left: 5px;
}

.navitem a:link, .navitem a:hover, .navitem a:active, .navitem a:visited {
font-family: arial;
font-size: 12px;
color: #fff;
text-decoration: none;
padding-right: 20px;
}

.memberandsearch {
background: #e6e6e6 url(../../images/orangetheme/misc/memberandsearch.gif) repeat-x;
margin-top: 1px;
border-top: #969696 1px solid;
border-bottom: #c4c4c4 1px solid;
height: 70px;
padding-left: 10px;
padding-right: 10px;
}

.navbc {
background: url(../../images/orangetheme/misc/navbcbg.gif) repeat-x;
margin-top: 2px;
margin-bottom: 8px;
}

.navbcright {
background: url(../../images/orangetheme/misc/navbcright.gif) top right no-repeat;
}

.navbcleft {
background: url(../../images/orangetheme/misc/navbcleft.gif) no-repeat;
height: 24px;
padding-top: 9px;
padding-left: 36px;
}

.navbcleft a:link, .navbcleft a:hover, .navbcleft a:active, .navbcleft a:visited {
color: #6a6a6a;
text-decoration: none;
font-family: arial;
font-size: 11px;
}

.memberlogin {
float:left;
}

.quicksearch {
float:right;
padding-top: 12px;
}

.searchfield {
float:left;
}

/* Main Page CSS */
.tcat_bg {
background: url(../../images/orangetheme/misc/tcat_bg.gif) repeat-x;
}

.tcat_right {
background: url(../../images/orangetheme/misc/tcat_right.gif) no-repeat top right;
}

.tcat_left {
background: url(../../images/orangetheme/misc/tcat_left.gif) no-repeat top left;
height: 34px;
line-height: 34px;
padding-left: 16px;
font-family: arial;
font-size: 12px;
color: #fff;
}

.tcat_left a:hover, .tcat_left a:active, .tcat_left a:visited, .tcat_left a:link {
font-family: arial;
font-size: 12px;
color: #fff;
text-decoration: none;
}

.tfoot_bg {
background: url(../../images/orangetheme/misc/tfoot_bg.gif) repeat-x top left;
}

.tfoot_r {
background: url(../../images/orangetheme/misc/tfoot_r.gif) no-repeat top right;
}

.tfoot_l {
height: 9px;
font-size: 1px;
background: url(../../images/orangetheme/misc/tfoot_l.gif) no-repeat top left;
}

.search-quick {
background: url(../../images/orangetheme/misc/searchbg.gif) no-repeat;
border: 0px;
width: 219px;
height: 16px;
padding-top: 5px;
padding-left: 7px;
}

.goadv {
clear:both;
margin-top: 7px;
padding-left: 5px;
}

.goadv a:link, .goadv a:hover, .goadv a:active, .goadv a:visited {
font-size: 11px;
color: #7e7e7e;
text-decoration: none;
}

/* Postbit CSS */
.vbmenu_c {
height: 34px;
padding: 0px;
padding-right: 6px;
line-height: 34px;
}

.vbmenu_c a:link, .vbmenu_c a:hover, .vbmenu_c a:active, .vbmenu_c a:visited {
color: #fff;
font-size: 12px;
font-family: arial;
text-ddecoration: none;
}

.alt2pbt {
background: #f1f1f1 url(../../images/orangetheme/misc/alt2pbt.gif) top left repeat-x;
border-right: #fff 1px solid;
border-top: #dadada 1px solid;
border-left: #dadada 1px solid;
}

.alt1pbt {
background: #f1f1f1 url(../../images/orangetheme/misc/alt1pbt.gif) top left repeat-x;
border-right: #dadada 1px solid;
border-top: #dadada 1px solid;
border-left: #d8d8d8 1px solid;
font-family: arial;
font-size: 12px;
color: #2d2d2d;
}

.alt2pbb {
background: #f1f1f1;
border-right: #fff 1px solid;
border-bottom: #dadada 1px solid;
border-left: #dadada 1px solid;
}

.alt1pbb {
background: #f1f1f1;
border-bottom: #dadada 1px solid;
border-left: #d8d8d8 1px solid;
}

.greyblock {
margin: 1px 0;
height: 2px;
font-size: 1px;
background: #bcbcbc;
}

.pbbox {
font-family: arial;
font-size: 11px;
color: #000000;
background: url(../../images/orangetheme/misc/pbboxbg.gif) repeat-x;
text-align: center;
width: 148px;
height: 24px;
line-height: 24px;
overflow:hidden;
}

.pbbox1 {
font-family: arial;
font-size: 11px;
color: #000000;
background: url(../../images/orangetheme/misc/pbbox1.gif) repeat-x;
text-align: center;
width: 148px;
height: 25px;
line-height: 25px;
}

.pbinfo {
color: #df6d00;
}

/* Footer CSS */
.copyright {
color: #3b3b3b;
line-height: 1.6;
}

.footer {
height: 77px;
background: url(../../images/orangetheme/misc/footerbg.gif) repeat-x;
border-top: #969696 1px solid;
margin-top: 0px;
}
.footerWrap {
background: url(../../images/orangetheme/misc/footerRight.gif) no-repeat top right;
height:77px;
}
.footerLogo {
float:right;
padding:18px 97px 0 0;
}
.copyright {
float:left;
padding:20px 0 0 10px;
}
.memberBox {
	float:left;
	width:291px;
	height:74px;
	padding:12px 0 0 0px;
}
.memberBox form, .searchBox form {
	margin:0;
	padding:0;
}
.memberBox input, .searchBox input {
	float:left;
}
.memberBox p {
width: 274px;
height: 9px;
line-height: 9px;
background: url(../../images/orangetheme/misc/memberboxbg.gif) no-repeat top right;
padding: 0px;
margin: 0px;
margin-bottom: 4px;
padding-left: 5px;
}
.loginBox {
	height:25px;
}
.loginBoxInput {
	background: url(../../images/orangetheme/misc/loginBoxInput.gif) no-repeat top left;
	width:122px;
	height:21px;
	float:left;
}
.logininput {
	border:0;
	background:transparent;
	font:8pt arial, helvetica, sans-serif;
	color: #9a9a9a;
	padding:4px 0 2px 0;
	width:108px; 
	margin:1px 7px 0 7px;
}
.searchBoxInput {
	background: url(../../images/orangetheme/misc/searchBoxInput.gif) no-repeat top left;
	width:226px;
	height:21px;
	float:left;
}
.searchinput {
	border:0;
	background:transparent;
	font:8pt arial, helvetica, sans-serif;
	color: #9a9a9a;
	padding:4px 0 2px 0;
	width:212px; 
	margin:1px 7px 0 7px;
}
.loginButton {
	float:left;
	padding-left:5px;
}
.memberLinks {
	font:8pt arial, helvetica, sans-serif;
	color: #7e7e7e;
	padding-left:5px;
}
.memberLinks a:link, .memberLinks a:visited {
	color: #7e7e7e;
	text-decoration:none;
}
.memberLinks a:hover {
	color:#e16a00;
	text-decoration:none;
}
.memberInfo {
	float:left;
	padding:22px 0 0 23px;
	font:9pt arial, helvetica, sans-serif;
	color:#545e69;
}
.memberInfo a:link, .memberInfo a:visited {
	font-weight:bold;
	color:#1f5891;
}
.memberInfo a:hover {
	color:#545e69;
}
.postbitBG {
	background: #fdfdfd url(../../images/orangetheme/misc/postbitBG.gif) repeat-x bottom left;

}