body
{
	background: #d8f9a0;
	color: #99b100;
	font: 13px "Lucida Sans","Lucida Sans Unicode","Lucida Grande",Lucida,sans-serif'lucida grande', arial, helvetica, sans-serif;
	margin: 0px;
	padding: 0px;
	cursor:url(../../Darling/image/as.cur), url(../../Darling/image/as.cur/as.cur), auto;
}
a:link, body_alink
{
	color: #666666;
}
a:visited, body_avisited
{
	color: #666666;
}
a:hover, a:active, body_ahover
{
	color: #666666;
	text-decoration: underline;
}
.page
{
	background: #FFFFFF;
	color: #99b100;
}
.page a:link, .page_alink
{
	color: #666666;
}
.page a:visited, .page_avisited
{
	color: #666666;
}
.page a:hover, .page a:active, .page_ahover
{
	color: #666666;
	text-decoration: underline;
}
td, th, p, li
{
	font: 13px "Lucida Sans","Lucida Sans Unicode","Lucida Grande",Lucida,sans-serif;
}
.tborder
{
	color: #666666;
	border: 1px solid #5fb404;
}
.tcat
{
	background: #869BBF url(../../Darling/image/bar.gif) repeat-x top left;;
	color: #FFFFFF;
	font: bold 12px "Lucida Sans","Lucida Sans Unicode","Lucida Grande",Lucida,sans-serif;
}
.tcat a:link, .tcat_alink
{
	color: #ffffff;
	text-decoration: none;
}
.tcat a:visited, .tcat_avisited
{
	color: #ffffff;
	text-decoration: none;
}
.tcat a:hover, .tcat a:active, .tcat_ahover
{
	color: #FFFFFF;
	text-decoration: underline;
}
.thead
{
	background: #ebf6cd url(../../Darling/image/thead.gif) repeat-x top left;;
	color: #666666;
	font: bold 11px "Lucida Sans","Lucida Sans Unicode","Lucida Grande",Lucida,sans-serif;
}
.thead a:link, .thead_alink
{
	color: #666666;
}
.thead a:visited, .thead_avisited
{
	color: #666666;
}
.thead a:hover, .thead a:active, .thead_ahover
{
	color: #666666;
	text-decoration: underline;
}
.tfoot
{
	background: #869BBF url(../../Darling/image/bar.gif) repeat-x top left;;
	color: #FFFFFF;
}
.tfoot a:link, .tfoot_alink
{
	color: #FFFFFF;
}
.tfoot a:visited, .tfoot_avisited
{
	color: #FFFFFF;
}
.tfoot a:hover, .tfoot a:active, .tfoot_ahover
{
	color: #FFFFFF;
}
.alt1, .alt1Active
{
	background: #FFFFFF;
	color: #666666;
	border-bottom:1px dashed #e6e7e1;
}
.alt2, .alt2Active
{
	background: #FFFFFF;
	color: #666666;
	border-bottom:1px dashed #e6e7e1;
}
.inlinemod
{
	background: #d8f9a0;
	color: #666666;
}
.wysiwyg
{
	background: #FFFFFF;
	color: #666666;
	font: 13px "Lucida Sans","Lucida Sans Unicode","Lucida Grande",Lucida,sans-serif;
	margin: 5px 10px 10px 10px;
	padding: 0px;
}
.wysiwyg a:link, .wysiwyg_alink
{
	color: #666666;
}
.wysiwyg a:visited, .wysiwyg_avisited
{
	color: #666666;
}
.wysiwyg a:hover, .wysiwyg a:active, .wysiwyg_ahover
{
	color: #666666;
}
textarea, .bginput
{
	font: 12px "Lucida Sans","Lucida Sans Unicode","Lucida Grande",Lucida,sans-serif;
}
.bginput option, .bginput optgroup
{
	font-size: 12px;
	font-family: "Lucida Sans","Lucida Sans Unicode","Lucida Grande",Lucida,sans-serif;
}
.button
{
	font: 12px "Lucida Sans","Lucida Sans Unicode","Lucida Grande",Lucida,sans-serif;
}
select
{
	font: 12px "Lucida Sans","Lucida Sans Unicode","Lucida Grande",Lucida,sans-serif;
}
option, optgroup
{
	font-size: 12px;
	font-family: "Lucida Sans","Lucida Sans Unicode","Lucida Grande",Lucida,sans-serif;
}
.smallfont
{
	font: 11px "Lucida Sans","Lucida Sans Unicode","Lucida Grande",Lucida,sans-serif;
}
.time
{
	color: #666666;
}
.navbar
{
	font: 12px "Lucida Sans","Lucida Sans Unicode","Lucida Grande",Lucida,sans-serif;
}
.highlight
{
	color: #666666;
	font-weight: bold;
}
.fjsel
{
	background: #d8f9a0;
	color: #000000;
}
.fjdpth0
{
	background: #FFFFFF;
	color: #000000;
}
.panel
{
	background: #FFFFFF;
	color: #666666;
	padding: 10px;
	border-bottom:1px dashed #e6e7e1;
}
.panelsurround
{
	background: #FFFFFF;
	color: #666666;
}
legend
{
	color: #666666;
	font: 12px "Lucida Sans","Lucida Sans Unicode","Lucida Grande",Lucida,sans-serif;
}
.vbmenu_control
{
	background: #869BBF url(../../Darling/image/bar.gif) repeat-x top left;;
	color: #FFFFFF;
	font: bold 12px "Lucida Sans","Lucida Sans Unicode","Lucida Grande",Lucida,sans-serif;
	padding: 3px 6px 3px 6px;
	white-space: nowrap;
}
.vbmenu_control a:link, .vbmenu_control_alink
{
	color: #FFFFFF;
	text-decoration: none;
}
.vbmenu_control a:visited, .vbmenu_control_avisited
{
	color: #FFFFFF;
	text-decoration: none;
}
.vbmenu_control a:hover, .vbmenu_control a:active, .vbmenu_control_ahover
{
	color: #FFFFFF;
	text-decoration: underline;
}
.vbmenu_popup
{
	background: #FFFFFF;
	color: #666666;
	border: 1px dashed #5fb404;
}
.vbmenu_option
{
	background: #FFFFFF;
	color: #666666;
	font: 12px "Lucida Sans","Lucida Sans Unicode","Lucida Grande",Lucida,sans-serif;
	white-space: nowrap;
	cursor: pointer;
}
.vbmenu_option a:link, .vbmenu_option_alink
{
	color: #666666;
	text-decoration: none;
}
.vbmenu_option a:visited, .vbmenu_option_avisited
{
	color: #666666;
	text-decoration: none;
}
.vbmenu_option a:hover, .vbmenu_option a:active, .vbmenu_option_ahover
{
	color: #666666;
	text-decoration: none;
}
.vbmenu_hilite
{
	background: #d8f9a0;
	color: #000000;
	font: 12px "Lucida Sans","Lucida Sans Unicode","Lucida Grande",Lucida,sans-serif;
	white-space: nowrap;
	cursor: pointer;
}
.vbmenu_hilite a:link, .vbmenu_hilite_alink
{
	color: #000000;
	text-decoration: none;
}
.vbmenu_hilite a:visited, .vbmenu_hilite_avisited
{
	color: #000000;
	text-decoration: none;
}
.vbmenu_hilite a:hover, .vbmenu_hilite a:active, .vbmenu_hilite_ahover
{
	color: #000000;
	text-decoration: none;
}
/* ***** styling for 'big' usernames on postbit etc. ***** */
.bigusername { font-size: 14pt; }

/* ***** small padding on 'thead' elements ***** */
td.thead, th.thead, div.thead { padding: 4px; }

/* ***** basic styles for multi-page nav elements */
.pagenav a { text-decoration: none; }
.pagenav td { padding: 2px 4px 2px 4px; }

/* ***** de-emphasized text */
.shade, a.shade:link, a.shade:visited { color: #777777; text-decoration: none; }
a.shade:active, a.shade:hover { color: #FF4400; text-decoration: underline; }
.tcat .shade, .thead .shade, .tfoot .shade { color: #DDDDDD; }

/* ***** define margin and font-size for elements inside panels ***** */
.fieldset { margin-bottom: 6px; }
.fieldset, .fieldset td, .fieldset p, .fieldset li { font-size: 11px; }
fieldset{border:1px dashed #99b100;padding:8px;-moz-border-radius:8px;}
.main{clear:both;background:url(../../Darling/image/center_bg.jpg) repeat-y 50% 0;text-align:center;}
.main_top{background:url(../../Darling/image/main_top_bg.jpg) no-repeat 50% 0;}
.main_content{margin:0 auto;padding-top:1px;padding-left:3px;width:950px;}
#header{height:365px;width:100%;border-bottom:0px solid #00B2E8;background:url("../../Darling/image/top_bg.jpg") repeat-x 50% 0;}
.bar_c {
background: url(../../Darling/image/bar.gif) top left repeat-x;
height: 28px;
color:#ffffff;
}
.bar_l {
background: url(../../Darling/image/bar_l.gif) top left no-repeat;
height: 28px;
}
.bar_r {
background: url(../../Darling/image/bar_r.gif) top right no-repeat;
height: 28px;
}
.bar_t {
text-align:center;
padding: 5px 0px 0px 0px;
color:#ffffff;
font-weight:bold;
}
.bar_t a:link, .bar_t a:visited{
text-align:center;
padding: 5px 0px 0px 0px;
color:#ffffff;
font-weight:bold;
}
.bar_t a:hover{
text-align:center;
padding: 5px 0px 0px 0px;
color:#ffffff;
font-weight:bold;
text-decoration:underline;
}
.bot_c {
background: url(../../Darling/image/bot_c.gif) top left repeat-x;
height: 8px;
}
.bot_l {
background: url(../../Darling/image/bot_l.gif) top left no-repeat;
height: 8px;
}
.bot_r {
background: url(../../Darling/image/bot_r.gif) top right no-repeat;
height: 8px;
}
.bar_2 {
background: url(../../Darling/image/bar_2.gif) top left repeat-x;
height: 28px;
}
.bar_l_2 {
background: url(../../Darling/image/bar_l_2.gif) top left no-repeat;
height: 28px;
}
.bar_r_2 {
background: url(../../Darling/image/bar_r_2.gif) top right no-repeat;
height: 28px;
}
.tborder2{
color:#666666;
border:1px dashed #8cc94a;
}
.missU{
background:#ffffff url(../../Darling/image/ILU.gif) repeat-x;
height:25px;
}
/* Navigation
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
#navigation {
	background: url(../../Darling/image/navbarBG.gif) repeat-x top left;
	height: 40px;
text-transform: lowercase;
}
#navigation ul {
	list-style:none;
	margin:0;
	padding:0;
}
#navigation li {
	display:block;
	float:left;
	margin:0;
	padding:0
}
#navigation li a {
	display:block;
	padding:15px 15px 0px 19px;
	font: 10pt "Lucida Sans","Lucida Sans Unicode","Lucida Grande",Lucida,sans-serif;
	color: #FFF;
	text-align: center;
	text-decoration: none;
}
#navigation li a:hover {
	background: url(../../Darling/image/navbarHover.gif) repeat-x top left;
	color: #ff0b0b;
	padding:15px 15px 9px 19px;
	font: bold10pt "Lucida Sans","Lucida Sans Unicode","Lucida Grande",Lucida,sans-serif;
}
#navigation .home a {
	background: url(../../Darling/image/navbarHome.gif) no-repeat top left;
	padding-left: 25px;
}
#navigation .home a:hover {
	background: url(../../Darling/image/navbarHomeHover.gif) no-repeat top left;
	padding-left: 25px;
}
#navigation .logout {
	background: url(../../Darling/image/navbarEnd.gif) no-repeat top right;
	height: 40px;
	width: 96px;
	float: right;
	color: #FFF;
}
.navSplit {
	background: transparent url(../../Darling/image/navSplit.gif) no-repeat top left;	
}