body
{
	background: #E1E1E2;
	color: #000000;
	font: 10pt verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
	margin: 5px 10px 10px 10px;
	padding: 0px;
}
a:link, body_alink
{
	color: #22229C;
}
a:visited, body_avisited
{
	color: #22229C;
}
a:hover, a:active, body_ahover
{
	color: #FF4400;
}
.page
{
	background: #FFFFFF;
	color: #000000;
}
td, th, p, li
{
	font: 10pt verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
}
.tborder
{
	background: #D1D1E1;
	color: #000000;
	border: 1px solid #0B198C;
}
.tcat
{
	background: #869BBF url(../../images/gradients/gradient_tcat.gif) repeat-x top left;
	color: #FFFFFF;
	font: bold 10pt verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
}
.tcat a:link, .tcat_alink
{
	color: #ffffff;
	text-decoration: none;
}
.tcat a:visited, .tcat_avisited
{
	color: #ffffff;
	text-decoration: none;
}
.tcat a:hover, .tcat a:active, .tcat_ahover
{
	color: #FFFF66;
	text-decoration: underline;
}
.thead
{
	background: #5C7099 url(../../images/gradients/gradient_thead.gif) repeat-x top left;
	color: #FFFFFF;
	font: bold 11px tahoma, verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
}
.thead a:link, .thead_alink
{
	color: #FFFFFF;
}
.thead a:visited, .thead_avisited
{
	color: #FFFFFF;
}
.thead a:hover, .thead a:active, .thead_ahover
{
	color: #FFFF00;
}
.tfoot
{
	background: #3E5C92;
	color: #E0E0F6;
}
.tfoot a:link, .tfoot_alink
{
	color: #E0E0F6;
}
.tfoot a:visited, .tfoot_avisited
{
	color: #E0E0F6;
}
.tfoot a:hover, .tfoot a:active, .tfoot_ahover
{
	color: #FFFF66;
}
.alt1, .alt1Active
{
	background: #F5F5FF;
	color: #000000;
}
.alt2, .alt2Active
{
	background: #E1E4F2;
	color: #000000;
}
.inlinemod
{
	background: #FFFFCC;
	color: #000000;
}
.wysiwyg
{
	background: #F5F5FF;
	color: #000000;
	font: 10pt verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
	margin: 5px 10px 10px 10px;
	padding: 0px;
}
.wysiwyg a:link, .wysiwyg_alink
{
	color: #22229C;
}
.wysiwyg a:visited, .wysiwyg_avisited
{
	color: #22229C;
}
.wysiwyg a:hover, .wysiwyg a:active, .wysiwyg_ahover
{
	color: #FF4400;
}
textarea, .bginput
{
	font: 10pt verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
}
.bginput option, .bginput optgroup
{
	font-size: 10pt;
	font-family: verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
}
.button
{
	font: 11px verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
}
select
{
	font: 11px verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
}
option, optgroup
{
	font-size: 11px;
	font-family: verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
}
.smallfont
{
	font: 11px verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
}
.time
{
	color: #666686;
}
.navbar
{
	font: 11px verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
}
.highlight
{
	color: #FF0000;
	font-weight: bold;
}
.fjsel
{
	background: #3E5C92;
	color: #E0E0F6;
}
.fjdpth0
{
	background: #F7F7F7;
	color: #000000;
}
.panel
{
	background: #E4E7F5 url(../../images/gradients/gradient_panel.gif) repeat-x top left;
	color: #000000;
	padding: 10px;
	border: 2px outset;
}
.panelsurround
{
	background: #D1D4E0 url(../../images/gradients/gradient_panelsurround.gif) repeat-x top left;
	color: #000000;
}
legend
{
	color: #22229C;
	font: 11px tahoma, verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
}
.vbmenu_control
{
	background: #738FBF;
	color: #FFFFFF;
	font: bold 11px tahoma, verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
	padding: 3px 6px 3px 6px;
	white-space: nowrap;
}
.vbmenu_control a:link, .vbmenu_control_alink
{
	color: #FFFFFF;
	text-decoration: none;
}
.vbmenu_control a:visited, .vbmenu_control_avisited
{
	color: #FFFFFF;
	text-decoration: none;
}
.vbmenu_control a:hover, .vbmenu_control a:active, .vbmenu_control_ahover
{
	color: #FFFFFF;
	text-decoration: underline;
}
.vbmenu_popup
{
	background: #FFFFFF;
	color: #000000;
	border: 1px solid #0B198C;
}
.vbmenu_option
{
	background: #BBC7CE;
	color: #000000;
	font: 11px verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
	white-space: nowrap;
	cursor: pointer;
}
.vbmenu_option a:link, .vbmenu_option_alink
{
	color: #22229C;
	text-decoration: none;
}
.vbmenu_option a:visited, .vbmenu_option_avisited
{
	color: #22229C;
	text-decoration: none;
}
.vbmenu_option a:hover, .vbmenu_option a:active, .vbmenu_option_ahover
{
	color: #FFFFFF;
	text-decoration: none;
}
.vbmenu_hilite
{
	background: #8A949E;
	color: #FFFFFF;
	font: 11px verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
	white-space: nowrap;
	cursor: pointer;
}
.vbmenu_hilite a:link, .vbmenu_hilite_alink
{
	color: #FFFFFF;
	text-decoration: none;
}
.vbmenu_hilite a:visited, .vbmenu_hilite_avisited
{
	color: #FFFFFF;
	text-decoration: none;
}
.vbmenu_hilite a:hover, .vbmenu_hilite a:active, .vbmenu_hilite_ahover
{
	color: #FFFFFF;
	text-decoration: none;
}
body
{
	background: #fff;
	color: #000000;
	font: 9pt arial, helvetica, sans-serif;
	margin: 0;
	padding: 0px;
}
a:link, body_alink
{
	color: #5291ad;
	text-decoration: none;
}
a:visited, body_avisited
{
	color: #5291ad;
	text-decoration: none;
}
a:hover, a:active, body_ahover
{
	color: #8eae37;
	text-decoration: none;
}
.page
{
	background: #FFFFFF;
	color: #000000;
}
.tborder
{
	background: #e6e5d3;
	color: #000000;
	border: 1px solid #e6e5d3;
}
.tcat
{
	background: #a4cfde url(../../images/styles/AcneForum/gradients/gradient_tcat.gif) repeat-x top left;
	color: #FFFFFF;
	font: bold 10pt arial, helvetica, sans-serif;
	border-bottom:1px solid #95bfce;
}
.tcat a:link, .tcat_alink
{
	color: #ffffff;
	text-decoration: none;
}
.tcat a:visited, .tcat_avisited
{
	color: #ffffff;
	text-decoration: none;
}
.tcat a:hover, .tcat a:active, .tcat_ahover
{
	color: #fff;
	text-decoration: underline;
}
.thead
{
	background: #e7e6d4 url(../../images/styles/AcneForum/gradients/gradient_thead.gif) repeat-x top left;
	color: #8e8969;
	font: 11px arial, helvetica, sans-serif;
	border-top:1px solid #e6e5d3;
	border-bottom:1px solid #e6e5d3;
}
.thead a:link, .thead_alink
{
	color: #8e8969;
}
.thead a:visited, .thead_avisited
{
	color: #8e8969;
}
.thead a:hover, .thead a:active, .thead_ahover
{
	color: #8e8969;
}
.tfoot
{
	background: #555139;
	color: #fff;
}
.tfoot a:link, .tfoot_alink
{
	color: #fff;
}
.tfoot a:visited, .tfoot_avisited
{
	color: #fff;
}
.tfoot a:hover, .tfoot a:active, .tfoot_ahover
{
	color: #a6a48a;
}
.alt1, .alt1Active
{
	background: #fff;
	color: #6e6d63;
	border-bottom: 1px solid #e6e5d3;
	border-right: 1px solid #e6e5d3;
}
.alt2, .alt2Active
{
	background: #fdfcf4;
	color: #6e6d63;
	border-bottom: 1px solid #e6e5d3;
	border-right: 1px solid #e6e5d3;
}
.inlinemod
{
	background: #FFFFCC;
	color: #000000;
}
.wysiwyg
{
	background: #F5F5FF;
	color: #000000;
	font: 10pt verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
	margin: 5px 10px 10px 10px;
	padding: 0px;
}
.wysiwyg a:link, .wysiwyg_alink
{
	color: #22229C;
}
.wysiwyg a:visited, .wysiwyg_avisited
{
	color: #22229C;
}
.wysiwyg a:hover, .wysiwyg a:active, .wysiwyg_ahover
{
	color: #FF4400;
}
textarea, .bginput
{
	font: 10pt arial, helvetica, sans-serif;
}
.bginput option, .bginput optgroup
{
	font-size: 10pt;
	font-family: arial, helvetica, sans-serif;
}
.button
{
	font: 11px arial, helvetica, sans-serif;
}
select
{
	font: 11px arial, helvetica, sans-serif;
}
option, optgroup
{
	font-size: 11px;
	font-family: arial, helvetica, sans-serif;
}
.smallfont
{
	font: 11px arial, helvetica, sans-serif;
}
.navbar
{
	color: #8e8969;
	font: 9pt arial, helvetica, sans-serif;
}
.highlight
{
	color: #FF0000;
	font-weight: bold;
}
.fjsel
{
	background: #e6e5d3;
	color: #76756c;
}
.fjdpth0
{
	background: #F7F7F7;
	color: #000000;
}
.panel
{
	color: #88877e;
	padding: 10px;
}
.panelsurround
{
	background: #fff;
	color: #88877e;
}
legend
{
	color: #46432c;
	font: 11px arial, helvetica, sans-serif;
}
.vbmenu_control
{
	background: #a4cfde  url(../../images/styles/AcneForum/gradients/gradient_tcat.gif) repeat-x top left;
	color: #FFFFFF;
	font: bold 10pt arial, helvetica, sans-serif;
	padding: 3px 6px 3px 6px;
	white-space: nowrap;
}
.vbmenu_control a:link, .vbmenu_control_alink
{
	color: #FFFFFF;
	text-decoration: none;
}
.vbmenu_control a:visited, .vbmenu_control_avisited
{
	color: #FFFFFF;
	text-decoration: none;
}
.vbmenu_control a:hover, .vbmenu_control a:active, .vbmenu_control_ahover
{
	color: #FFFFFF;
	text-decoration: underline;
}
.vbmenu_popup
{
	background: #FFFFFF;
	color: #000000;
	border: 1px solid #e6e5d3;
}
.vbmenu_option
{
	background: #fdfcf4;
	color: #76756c;
	font: 11px arial, helvetica, sans-serif;
	white-space: nowrap;
	cursor: pointer;
}
.vbmenu_option a:link, .vbmenu_option_alink
{
	color: #76756c;
	text-decoration: none;
}
.vbmenu_option a:visited, .vbmenu_option_avisited
{
	color: #76756c;
	text-decoration: none;
}
.vbmenu_option a:hover, .vbmenu_option a:active, .vbmenu_option_ahover
{
	color: #76756c;
	text-decoration: none;
}
.vbmenu_hilite
{
	background: #545038;
	color: #fff;
	font: 11px arial, helvetica, sans-serif;
	white-space: nowrap;
	cursor: pointer;
}
.vbmenu_hilite a:link, .vbmenu_hilite_alink
{
	color: #fff;
	text-decoration: none;
}
.vbmenu_hilite a:visited, .vbmenu_hilite_avisited
{
	color: #fff;
	text-decoration: none;
}
.vbmenu_hilite a:hover, .vbmenu_hilite a:active, .vbmenu_hilite_ahover
{
	color: #fff;
	text-decoration: none;
}
/* ***** styling for 'big' usernames on postbit etc. ***** */
.bigusername { font-size: 14pt; }

/* ***** small padding on 'thead' elements ***** */
td.thead, th.thead, div.thead { padding: 3px; }

/* ***** basic styles for multi-page nav elements */
.pagenav a { text-decoration: none; }
.pagenav td { padding: 2px 4px 2px 4px; }

/* ***** de-emphasized text */
.shade, a.shade:link, a.shade:visited { color: #777777; text-decoration: none; }
a.shade:active, a.shade:hover { color: #FF4400; text-decoration: underline; }
.tcat .shade, .thead .shade, .tfoot .shade { color: #DDDDDD; }

/* ***** define margin and font-size for elements inside panels ***** */
.fieldset { margin-bottom: 6px; }
.fieldset, .fieldset td, .fieldset p, .fieldset li { font-size: 11px; }
/* Misc Resets
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
img {
	border:0;
}
.bginput {
	background:#fff url(../../images/styles/AcneForum/style/inputBG2.gif) repeat-x top left;
	font:normal 8pt tahoma, verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
	vertical-align:middle;
	border:1px #d3cbb9 solid;
	color:#acacac;
	padding:0.2em;
}
.verticalAlign {
	vertical-align:middle;
}
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
.clearfix {
	display: inline-block;
}
html[xmlns] .clearfix {
	display: block;
}
* html .clearfix {
	height: 1%;
}


/* Page Wrapper
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
#pageWrapper {
	margin:0 20px;
}

/* Header
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
#header {
	height:92px;
	position:relative;
}
.logo {
	padding-top:32px;
	float:left;
}
.topLinks {
	color:#d3d3d3;
	text-align:right;
	padding:10px 0;
}
.topLinks a:link, .topLinks a:visited {
	color:#95bfce;
	text-decoration:none;
}
.topLinks a:hover {
	color:#acc563;
	text-decoration:none;
}
.quickSearch {
	float:right;
	padding:5px 0 0 0;	
}
.quickWrapper {
	height:35px;
	text-align:right;
}
.keyWord {
	float:left;
	font:bold 9pt arial, helvetica, sans-serif;
	color:#acc563;
	padding:3px 5px 0 0;
	margin:0;
	display:block;
}
.searchBoxInput {
	background: url(../../images/styles/AcneForum/style/searchBox.gif) no-repeat top left;
	width:180px;
	height:21px;
	float:left;
}
.searchinput {
	border:0;
	background:transparent;
	font:8pt arial, helvetica, sans-serif;
	color: #808080;
	padding:2px 0 2px 0;
	width:153px; 
	margin:1px 5px 0 22px;
}
.searchButton {
	float:left;
	padding:0 0 0 5px;
}

/* Navigation
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
#navigation {
	background:url(../../images/styles/AcneForum/style/navBG.gif) repeat-x top left;
	height:36px;
	margin-bottom:20px;
	font:bold 10pt Arial, Helvetica, sans-serif;
	color:#fff;	
}
.navLeft {
	background:url(../../images/styles/AcneForum/style/navLeft.gif) no-repeat top left;
	height:36px;
}
.navRight {
	background:url(../../images/styles/AcneForum/style/navRight.gif) no-repeat top right;
	height:36px;
	padding:0 5px;
}
#navigation .vbmenu_control {
	padding:0;
	line-height:36px;
}
#navigation .vbmenu_control a:link, #navigation .vbmenu_control a:visited {
	color:#fff;
	text-decoration:none;	
}
#navigation td:hover {
	background:url(../../images/styles/AcneForum/style/navHover.gif) repeat-x top left;
}
.navSplit {
	background:url(../../images/styles/AcneForum/style/navSplit.gif) no-repeat top right;	
}


/* Slider
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
#mainpic {
	background: url(../../images/styles/AcneForum/style/sliderBG.gif) repeat-x;	
	padding:0px;
	height:120px;
	margin-bottom:20px;
}
.sliderLeft {
	background:url(../../images/styles/AcneForum/style/sliderLeft.gif) no-repeat top left;
	height:120px;
}
.sliderRight {
	background:url(../../images/styles/AcneForum/style/sliderRight.gif) no-repeat top right;
	height:120px;
	position:relative;
}
#mainpict1{
	background-image: url(../../../images/styles/AcneForum/style/styles/designersforum/style/mainpic1_bg.jpg);
	background-repeat: no-repeat;
	height: 120px;
	margin: 0px;
	padding: 0px;
}
#mainpict2 {
	background-image: url(../../../images/styles/AcneForum/style/styles/designersforum/style/mainpic_2.jpg);
	background-repeat: no-repeat;
	height: 120px;
	margin: 0px;
	padding: 0px;
}
#mainpict3 {
	background-image: url(../../../images/styles/AcneForum/style/styles/designersforum/style/mainpic_3.jpg);
	background-repeat: no-repeat;
	height: 120px;
	margin: 0px;
	padding: 0px;
}
.slidertxt {
	margin-right:247px;
	padding:18px 0 0 18px;
}
.slidertxt img {
	display:block;
}
.slidertxt a:link, .slidertxt a:visited {
	color:#95bfce;
	text-decoration:none;
}
.slidertxt a:hover {
	color:#acc563;
	text-decoration:none;
}
#mainpict1 p, #mainpict2 p, #mainpict3 p, #mainpict4 p {
	font:9pt Arial, Helvetica, sans-serif;
	color: #8e8969;
	text-align: justify;
	padding:5px 15px 0 0;
	margin:0;
	line-height: 20px;
}
/* Tabs
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
#latestTabs {
	height:36px;
	font-weight:700;
}
#latestTabs ul {
	list-style:none;
	margin:0 4px 0 5px;
	padding:0;
}
#latestTabs li {
	display:inline;
	margin:0;
	padding:0;
}
#latestTabs a {
	float:left;
	background:url(../../images/styles/AcneForum/style/tabLeft.gif) no-repeat left top;
	margin:0 2px;
	padding:0 0 0 4px;
	text-decoration:none;
}
#latestTabs a span {
	float:left;
	display:block;
	background:url(../../images/styles/AcneForum/style/tabRight.gif) no-repeat right top;
	padding:0 11px 0 8px;
	line-height:36px;	
	color:#fff;
}
/* Commented Backslash Hack hides rule from IE5-Mac \*/
#latestTabs a span {float:none;}
/* End IE5-Mac hack */
#latestTabs a:hover span {
	color:#888780;
}
#latestTabs a:hover,
#latestTabs .idTabs li a.selected{
	background-position:0% -36px;
	text-decoration:none;
	color:#888780;
}
#latestTabs a:hover span,
#latestTabs .idTabs li a.selected span {
	background-position:100% -36px;
	text-decoration:none;
	color:#888780;
}


/* Content
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
#contentMain {
	
}
.contentLeft {
	padding-right:20px;
}
.contentRight {
	width:240px;
}
.greenHeading {
	background:url(../../images/styles/AcneForum/style/greenBG.gif) repeat-x top left;
	height:36px;
	text-align:right;
}
.blueHeading {
	background:url(../../images/styles/AcneForum/style/blueBG.gif) repeat-x top left;
	height:36px;
	text-align:right;
}
.greenHeading h3, .blueHeading h3 {
	font:bold 10pt Arial, Helvetica, sans-serif;
	color:#fff;
	padding:1px 0 0 0;
	margin:0;
	float:left;
}
.greenLeft {
	background:url(../../images/styles/AcneForum/style/greenLeft.gif) no-repeat top left;
	height:36px;
}
.blueLeft {
	background:url(../../images/styles/AcneForum/style/blueLeft.gif) no-repeat top left;
	height:36px;
}
.greenRight {
	background:url(../../images/styles/AcneForum/style/greenRight.gif) no-repeat top right;
	height:27px;
	padding:9px 10px 0 10px;
}
.blueRight {
	background:url(../../images/styles/AcneForum/style/blueRight.gif) no-repeat top right;
	height:27px;
	padding:9px 10px 0 10px;
}
.greenRight2 {
	background:url(../../images/styles/AcneForum/style/greenRight.gif) no-repeat top right;
	height:36px
}
.boxMain {
	border:1px solid #e6e5d3;
	padding:10px;
	border-top:0;
	margin-bottom:20px;
}
.boxMain ul {
	list-style:none;
	padding:0;
	margin:0;
}
.contentLeft .boxMain li {
	font:bold 8pt arial, 'lucida console', sans-serif;
	color:#76756c;
	line-height:17px;
	padding:8px;
	border-bottom:1px solid #f2f2e9;
}
.contentLeft .greenBox a:link, .contentLeft .greenBox a:visited {
	color:#8eaf37;
	text-decoration:none;
}
.contentLeft .greenBox a:hover, .contentLeft .boxMain a:hover  {
	color:#605c42;
	text-decoration:none;
}
.contentLeft .blueBox a:link, .contentLeft .blueBox a:visited {
	color:#5592af;
	text-decoration:none;
}
.contentLeft .blueBox:hover, .contentLeft .blueBox a:hover  {
	color:#605c42;
	text-decoration:none;
}
.contentRight .boxMain li {
	font: 8pt arial, 'lucida console', sans-serif;
}
.contentRight .boxMain li a:link, .contentRight .boxMain li a:visited {
	background: transparent url(../../images/styles/AcneForum/style/rowBullet.gif) no-repeat top left;
	padding:8px 2px 8px 15px;	
	text-decoration:none;
	color:#76756c;	
	display:inline-block;
	width:203px;
	border-bottom:1px solid #f2f2e9;
}
.contentRight .boxMain li a:hover {
	background: #545038 url(../../images/styles/AcneForum/style/rowHover.gif) no-repeat top left;
	color:#fff;
	text-decoration:none;
}
.avatarSmall {
	display: block;
	width: 50px;
	height: 50px;
}
.memberLogged {
	font:bold 8pt arial, "lucida console", sans-serif;
	color:#76756c;	
	padding-left:10px;
}
.memberLogged a:link, .memberLogged a:visited {
	color:#5594b0;
	text-decoration:none;
}
.memberLogged a:hover {
	color:#8eaf37;
	text-decoration:none;
}
.pmInfo {
	padding:6px 0 0 0;
}
.memberInfo {
	font:bold 8pt arial, "lucida console", sans-serif;
}
.memberInfo form {
	padding:0;
	margin:0;
}
.memberInfo h3 {
	font:bold 8pt arial, "lucida console", sans-serif;
	color:#76756c;
	margin:0;
	padding:0 0 6px 0;
}
.UsernameBox {
	background: url(../../images/styles/AcneForum/style/loginBox.gif) no-repeat top left;
	width:218px;
	height:21px;
	float:left;
	margin-bottom:6px;
}
.PasswordBox {
	background: url(../../images/styles/AcneForum/style/loginBox.gif) no-repeat top left;
	width:218px;
	height:21px;
	float:left;
	margin-bottom:6px;
}
.logininput {
	border:0;
	background:transparent;
	color: #666666;
	padding:4px 0 3px 0;
	font-size:8pt;
	width:204px; 
	margin:1px 7px 0 7px;
}
.rememberMe {
	color:#76756c;
	padding:0;
	float:left;
}
.submit {
	text-align:right;
	padding:9px 0 8px 0;
}
.loginLinks {
	background:url(../../images/styles/AcneForum/style/memberBullet.gif) no-repeat left;
	padding:3px 0 3px 12px;
}
.loginLinks a:link, .memberLinks a:visited {
	color:#5592af;
	text-decoration:none;
}
.loginLinks a:hover {
	color:#8faf37;
	text-decoration:none;
}

.memberBox {
	background:url(../../images/styles/AcneForum/style/memberBoxBG.gif) no-repeat top left;
	width:222px;
	height:70px;
	padding:45px 9px 0 9px;
	font:8pt arial, 'lucida console', sans-serif;	
	color:#e8f4f9;
	text-align:right;	
}
.memberBox span {
	float:left;
}
.memberBox strong {
	color:#fff;
}
.memberBox ul {
	list-style:none;
	padding:0;
	margin:0;
}
.memberBox li {
	padding:3px 0 3px 6px;
}
.memberLink {
	margin-bottom:20px;
}
.memberLink img {
	display:block;
}

/* Footer
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
#footer {
	background:url(../../images/styles/AcneForum/style/footerBG.gif) repeat-x top left;
	height:183px;
	padding:21px 20px 0 20px;	
}
.userTools {
	width:300px;
}
.quickLinks {
	width:276px;
	display:block;
	float:left;
}
.quickLinks ul {
	list-style:none;
	margin:5px 0 0 10px;
	padding:0;
	width:118px;
	float:left;
}
.quickLinks li {
	background:url(../../images/styles/AcneForum/style/bulletQuick.gif) no-repeat left;
	padding:3px 0 3px 10px;
}
.quickLinks a:link,.quickLinks a:visited {
	font: 8pt arial, 'lucida console', sans-serif;
	color:#e7e6d5;
	text-decoration:none;
}
.quickLinks a:hover {
	color:#fff;
	text-decoration:none;	
}
.footerStats {
	padding:7px 0 0 0;
	font: 8pt arial, 'lucida console', sans-serif;	
	color:#e7e6d5;
}
.footerStats a:link, .footerStats a:visited {
	color:#acc563;
	text-decoration:none;	
}
.footerStats a:hover {
	color:#95bfce;
	text-decoration:none;	
}
.footerStats strong {
	color:#fff;
}
.activeUsers {
	float:left;
	display: block;
	width: 300px;
	height: 50px;
	line-height:18px;
}
.mostUsers {
	float:left;
	display: block;
	height: 50px;
	line-height:18px;
}
.totalStats {
	line-height:18px;	
}
.totalStats span {
	color:#a6a48a;
}
.gmtBar {
	background:#46432c;
	padding:0 20px;
	height:30px;
	line-height:30px;
	color:#a6a48a;
	text-align:right;
}

/* Category Strips
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.tcat_alt {
	background:transparent url(../../images/styles/AcneForum/style/tcatBG.gif) repeat-x top left;
	height:36px;
}

.tcat_alt a, .tcat_alt a:visited,.tcat_alt:hover {
	font: bold 10pt arial, "lucida console", sans-serif;
	color:#fff;	
}

.tcat_alt_right {
	background: transparent url(../../images/styles/AcneForum/style/tcatRight.gif) no-repeat top right;
	height: 36px;
}
.tcat_alt_title {
	background: transparent url(../../images/styles/AcneForum/style/tcatLeft.gif) no-repeat top left;
	float: left;
	height: 25px;
	text-align: left;
	padding:11px 0 0 11px;
	font: bold 10pt arial, "lucida console", sans-serif;
	color:#fff;	
}

.tcat_alt_title a, .tcat_alt_title a:visited {
	color:#fff;
	text-decoration:none;
}

.tcat_alt_title a:hover {
	color:#fff;
	text-decoration:underline;
}

.tcat_alt_collapse {
	padding:6px 6px 0 0;
	float:right;
}

.tcat_alt_collapse a, .tcat_alt_collapse a:visited {
	color:#fff;
	text-decoration:none;
}
.tcat_alt_collapse a:link {
	color:#fff;
	text-decoration:none;
}
.tcat_alt_collapse a:hover {
	color:#fff;
	text-decoration:underline;
}
.vbmenu_alt {
	height: 24px;
	float:right;
	padding:9px 5px 0 5px;
	font: bold 10pt arial, 'lucida console', sans-serif;
	color:#fff;
	text-decoration:none;
}
.vbmenu_alt a:link {
	color:#fff;
	text-decoration:none;
}
.vbmenu_alt a:visited {
	color:#fff;
	text-decoration:none;
}
.vbmenu_alt a:hover, .vbmenu_alt a:active {
	color:#fff;
	text-decoration:underline;
}
.vbmenu_alt img {
	vertical-align:middle;
	padding:0 0 3px 4px;
}
.breadcrumb {
background:url(../../images/styles/AcneForum/style/bcBG.gif) repeat-x top left;
height:36px;
margin-bottom:20px;
}
.bcLeft{
background:url(../../images/styles/AcneForum/style/bcLeft.gif) no-repeat top left;
height:36px;
}
.bcRight{
background:url(../../images/styles/AcneForum/style/bcRight.gif) no-repeat top right;
height:24px;
padding:12px 10px 0 10px;
}

.postbitDate {
	background: transparent url(../../images/styles/AcneForum/style/postbitDate.gif) no-repeat;	
	padding:0 20px 0 17px;
	float:left;	
	font: bold 8pt arial, 'lucida console', sans-serif;		
	color:#28333a;
}
.postbitWrapper {
	width:193px;
	padding:6px 3px;
	font: 8pt arial, 'lucida console', sans-serif;
	color:#7e7e7e;
	text-align:left;
}
.postbitWrapper strong {
	font: 8pt arial, 'lucida console', sans-serif;
	color:#666666;
	font-weight:400;
}
.postbitWrapper ul {
	list-style:none;
	margin:0 0 0 0;
	padding:0;
}
.postbitWrapper li {
	font: 8pt arial, 'lucida console', sans-serif;
	padding:4px 3px 4px 12px;
}
.postbitWrapper li .contactIcons {
	background:none;
}
.postbitSplit {
	background: transparent url(../../images/styles/AcneForum/style/bulletPostbit.gif) no-repeat left;
	border-bottom: 1px solid #e6e5db;
}
.iconInfo {
padding-top:5px; 
}
.navbar a:link, .navbar a:visited {
font-weight:700;
}
/* Page Navigation - Brown
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.pagenav .tborder {
	background:transparent;
	border:0;
}
.pagenav .vbmenu_control {
	background:transparent;
	color:#c1bcb4;
}
.pagenav .alt1, .pagenav .alt2 {
	background:transparent;
	border:0;
	padding:0;
}
.pagenav a {
	padding: 2px 5px 2px 5px;
	margin-right: 2px;
	border: 1px solid #e6e5d3;
	background-color:#fff;
	text-decoration: none; 
	color: #c1bcb4;
}
.pagenav a:hover, .pagenav a:active {
	border:1px solid #e6e5d3;
	color: #543711;
	background-color: #fdfcf4;
}
.pagenav span strong {
	padding: 2px 5px 2px 5px;
	margin-right: 2px;
	border: 1px solid #545038;
	font-weight: bold;
	background-color: #6a664a;
	color: #fff;
}