
    form label
    {
        display: inline-block !important;
        width: 200px !important;
    }
   
    form input
    {
        margin-bottom: 5px;
    }
    form input[type="radio"]{
        margin-bottom: 7px;
    }
    form input[type="checkbox"]{
        margin-bottom: 7px;
        margin-right: 5px;
    }
    form textarea{
        margin-bottom: 5px;
        height: 190px;
        resize: none;
    }
    
    form select{
        margin-bottom: 5px;
    }
    
    form .required{
        color:red;
        font-weight: bold;
    }
    

